.car-deal-tab-property-label,
.car-deal-tab-property-input,
.car-deal-tab-property-button {
   flex: 1;
}

.car-deal-tab-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.car-deal-tab-container > div {
    display: flex;
}